.containerQuemSomos {
    height: 85vh;
    background-image: url('../../assets/backgroundQuemSomos.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.boxTextoQuemSomos {
   width: 42%;
   height: 75%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   h2 {
    color: #205691;
    font-size: 2.5rem;
    width: 70%;
   }

   p{
    font-size: 1.5rem;
    width: 85%;
   }

}