.containerTelaInicial {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    div {
        height: 40vh;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 38%;
        color: #205691;

        h1 {
            font-size: 5.5rem;
        }

        p {
            font-size: 1.5rem;
        }
    }

}

@media (min-width: 201px) and (max-width: 500px) {
    .containerTelaInicial {
        flex-direction: column;

        div {
            width: 90%;
            height: 30vh;
            text-align: center;
            align-items: center;


            h1 {
                font-size: 1.8rem;
                width: 80%;
            }
            p {
                font-size: 1rem;
            }
        }

        img {
            width: 70%;
            border-radius: 100%;
        }
    }

}