footer {
    background-color: #205691;
    height: 18vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    
    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 12%;
    }

    p {
        width: 25%;
        text-align: center;
    }
}

.navFooter {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}


@media (min-width: 201px) and (max-width: 500px) {
    footer {
        height: 35vh;
        flex-direction: column-reverse;

        div {
            width: 60%;
        }

        img {
            width: 20%;
        }

        p {
            font-size: 0.75rem;
            width: 90%;
        }

        .navfooter {
            width: 80%;

            img {
                width: 12%;
            }

        }

    }
}